{% extends 'base.html' %}

{% block title %}
Daftar Pengumuman - {{ restaurant.name }}
{% endblock %}

{% block content %}
<h1>Pengumuman untuk {{ restaurant.name }}</h1>
<ul>
  {% if pengumuman_list %}
    {% for pengumuman in pengumuman_list %}
      <li><a href="{% url 'detail_pengumuman' pengumuman.id %}">{{ pengumuman.judul }}</a> - {{ pengumuman.created_at }}</li>
    {% endfor %}
  {% else %}
    <p>Tidak ada pengumuman saat ini.</p>
  {% endif %}
</ul>

<a href="{% url 'tambah_pengumuman' restaurant.id %}">Tambah Pengumuman Baru</a>
{% endblock %}